Em vez de estar sempre a usar os thresholds de 90/180, usar um slider. Por exemplo quando o slider esta nos 45, ele vai fazer o processamento todo (o pipeline todo) para me dar a imagem que em vez de ser com thresholds de 90/180, seja com 45/90. 

Tenho que começar a agrupar isto por funções, de maneira a que qnd altero o 1º parametro, tem-se um input e esse input vai fazer com que a imagem do canny vá mudar e vamos correr o algoritmo para as imagens em questão

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import netCDF4 as nc
import cv2
import datetime
import xarray as xr
import os
plt.rcParams["figure.figsize"] = 10, 8
%matplotlib inline

### Importação dos dados de Atlantic-Iberian Biscay Irish- Ocean Physics Reanalysis

Importar o ficheiro netCDF da pasta data do repositório e depois converte-lo para o formato de dataframa

In [24]:
current_path = os.getcwd()
current_path

'/home/luisfigueiredo/JUNO/notebooks'

In [25]:
from pathlib import Path

data_folder = os.path.join(current_path,"../data")
data_folder

'/home/luisfigueiredo/JUNO/notebooks/../data'

In [26]:
nc_path = os.path.join(data_folder, "IBI2014-2019.nc")
ds = nc.Dataset(nc_path)
data = xr.load_dataset(nc_path)

In [27]:
print(ds)     # informações relativas ao ficheiro netCDF

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    Conventions: CF-1.0
    source: CMEMS IBI-MFC
    institution: Puertos del Estado (PdE) - Mercator-Ocean (MO)
    references: http://marine.copernicus.eu
    title: CMEMS IBI REANALYSIS: DAILY PHYSICAL PRODUCTS
    easting: longitude
    northing: latitude
    domain_name: IBI12
    FROM_ORIGINAL_FILE__field_type: mean
    field_date: 20191224
    FROM_ORIGINAL_FILE__longitude_min: -19.f
    FROM_ORIGINAL_FILE__longitude_max: 5.f
    FROM_ORIGINAL_FILE__latitude_min: 26.f
    FROM_ORIGINAL_FILE__latitude_max: 56.f
    z_min: 0.50576f
    z_max: 5698.061f
    contact: mailto: servicedesk.cmems@mercator-ocean.eu
    bulletin_date: 2020-12-01
    bulletin_type: Reanalysis
    _CoordSysBuilder: ucar.nc2.dataset.conv.CF1Convention
    comment:
    history: Data extracted from dataset http://localhost:8080/thredds/dodsC/cmems_mod_ibi_phy_my_0.083deg-3D_P1D-m
    dimensions(sizes): depth(1), latitude(121), time(2184), longitude(169)
    variables(dimensions): float32 depth(depth), float32 latitude(latitude), int16 thetao(time, depth, latitude, longitude), int64 time(time), float32 longitude(longitude)
    groups:

In [28]:
#Converter o ficheiro netCDF para uma dataframe
datadf = data.to_dataframe()
df2014_2019 = datadf.reset_index()

In [29]:
df2014_2019 = df2014_2019.drop(['depth'], axis=1)     #dropar coluna 'depth' (não é necessária pq é sempre igual)
df2014_2019   #os dados .nc estão agora no formato de uma dataframe

          latitude  longitude                time     thetao
0             35.0      -19.0 2014-01-01 12:00:00  18.316000
1             35.0      -19.0 2014-01-02 12:00:00  18.309000
2             35.0      -19.0 2014-01-03 12:00:00  18.316000
3             35.0      -19.0 2014-01-04 12:00:00  18.273001
4             35.0      -19.0 2014-01-05 12:00:00  18.230000
...            ...        ...                 ...        ...
44660611      45.0       -5.0 2019-12-20 12:00:00  13.619000
44660612      45.0       -5.0 2019-12-21 12:00:00  13.559000
44660613      45.0       -5.0 2019-12-22 12:00:00  13.458000
44660614      45.0       -5.0 2019-12-23 12:00:00  13.400000
44660615      45.0       -5.0 2019-12-24 12:00:00  13.390000

[44660616 rows x 4 columns]

In [30]:
df2014_2019 = df2014_2019[['time', 'latitude', 'longitude', 'thetao']]    #reorganizar as colunas da dataframe
df2014_2019

                        time  latitude  longitude     thetao
0        2014-01-01 12:00:00      35.0      -19.0  18.316000
1        2014-01-02 12:00:00      35.0      -19.0  18.309000
2        2014-01-03 12:00:00      35.0      -19.0  18.316000
3        2014-01-04 12:00:00      35.0      -19.0  18.273001
4        2014-01-05 12:00:00      35.0      -19.0  18.230000
...                      ...       ...        ...        ...
44660611 2019-12-20 12:00:00      45.0       -5.0  13.619000
44660612 2019-12-21 12:00:00      45.0       -5.0  13.559000
44660613 2019-12-22 12:00:00      45.0       -5.0  13.458000
44660614 2019-12-23 12:00:00      45.0       -5.0  13.400000
44660615 2019-12-24 12:00:00      45.0       -5.0  13.390000

[44660616 rows x 4 columns]

In [12]:
# Guardar esta df no nosso repositorio nao e grande ideia porque ocupa 2,5GB

### Gerar array com os dias para os quais quero depois aplicar o canny

É criado o dicionário days que tem muitas dataframes e depois dá para aceder a estas df individualmente com os valores do array que são extraidos através do specific day

In [31]:
dataf2014_2019 = df2014_2019.copy()

In [32]:
specificday = [pd.Timestamp(dd).strftime("%Y-%m-%d %H:%M:%S") for dd in dataf2014_2019['time'].unique()]

In [33]:
specificday = np.array(specificday, dtype=np.object)

In [34]:
specificday

array(['2014-01-01 12:00:00', '2014-01-02 12:00:00',
       '2014-01-03 12:00:00', ..., '2019-12-22 12:00:00',
       '2019-12-23 12:00:00', '2019-12-24 12:00:00'], dtype=object)

In [35]:
#create a dictionary to store the data frames for each day
days = {elem : pd.DataFrame for elem in specificday}

for key in days.keys():    #keys são os dias do dicionário de dataframes days
    days[key] = dataf2014_2019[:][dataf2014_2019['time'] == key]

In [16]:
ond2014_2019 = specificday[(specificday>='2014-10-01 12:00:00') & (specificday <= '2014-12-31 12:00:00') + (specificday>='2015-10-01 12:00:00') & (specificday <= '2015-12-31 12:00:00')+(specificday>='2016-10-01 12:00:00') & (specificday <= '2016-12-31 12:00:00')+(specificday>='2017-10-01 12:00:00') & (specificday <= '2017-12-31 12:00:00')+(specificday>='2018-10-01 12:00:00') & (specificday <= '2018-12-31 12:00:00')+(specificday>='2019-10-01 12:00:00') & (specificday <= '2019-12-31 12:00:00')]
ond2014_2019

NameError: name 'specificday' is not defined

### Definir funções para todo o pipeline

In [17]:
def get_data(df):
    
    specificday = [pd.Timestamp(dd).strftime("%Y-%m-%d %H:%M:%S") for dd in df['time'].unique()]
    specificday = np.array(specificday, dtype=np.object)
  
    #create a dictionary to store the data frames for each day
    days = {elem : pd.DataFrame for elem in specificday}

    for key in days.keys():
        days[key] = df[:][df['time'] == key]
        
    return days, specificday

In [22]:
days, specificdat = get_data(df2014_2019)

ValueError: too many values to unpack (expected 2)

In [11]:
days['2014-10-09 12:00:00']

                        time  latitude  longitude     thetao
281      2014-10-09 12:00:00      35.0 -19.000000  21.992001
2465     2014-10-09 12:00:00      35.0 -18.916666  21.996000
4649     2014-10-09 12:00:00      35.0 -18.833334  22.090000
6833     2014-10-09 12:00:00      35.0 -18.750000  22.254002
9017     2014-10-09 12:00:00      35.0 -18.666666  22.417999
...                      ...       ...        ...        ...
44649977 2014-10-09 12:00:00      45.0  -5.333334  19.200001
44652161 2014-10-09 12:00:00      45.0  -5.250000  19.305000
44654345 2014-10-09 12:00:00      45.0  -5.166667  19.447001
44656529 2014-10-09 12:00:00      45.0  -5.083334  19.563999
44658713 2014-10-09 12:00:00      45.0  -5.000000  19.602001

[20449 rows x 4 columns]

In [18]:
def canny_creation(days, Tmax):
    
    """
    Função que pega numa df com temperaturas relativas a um certo dia e retorna a matriz obtida após 
    aplicação do Canny com a mask para a zona continental
    """
    
    #Pegar na df dum dia e converte-la num np array com os valores de Temperatura para os valores de long e lati
    Temp = days.pivot_table(index='longitude', columns='latitude', values='thetao').T.values
    
    #Converter os valores de temperatura no formato uint8 com valores entre 0-255
    Temp_day = ((Temp - np.nanmin(Temp)) * (1/(np.nanmax(Temp) - np.nanmin(Temp)) * 255)).astype('uint8')

    Temp_day = np.flipud(Temp_day)   #flipud -> Reverse the order of elements along axis 0 (up/down).
    
    #apply the canny algorithm and plot the image with the edges
    canny = cv2.Canny(Temp_day, Tmax/2, Tmax, L2gradient=False, apertureSize=3)
    
    mask = np.isnan(np.flipud(Temp))    #Boolean array é True onde o array original (Temp) tinha valores Nan
    mask255 =np.where(mask,(np.ones(mask.shape))*255,0).astype("uint8")   #array cujos pixels= 255 quando mask=True
    #Fazer uma dilatação para assegurar que os pixeis que pertencem à costa não são considerados como frentes no canny
    kernel = np.ones((3,3), np.uint8)
    mask_dilated = cv2.dilate(mask255, kernel)
    canny =np.ma.masked_where(mask_dilated==255, canny)
    
    return canny

In [19]:
def frontal_prob(period, Tmax):
    """
    Função que retorna um array de shape (121, 169) com a frontal probability de cada pixel
    """
    fp = np.zeros((121,169))
    for day in period:
        fp = fp + canny_creation(days[day], Tmax)
    fp = fp/(len(period)*255)*100
    
    return fp

In [20]:
def visualization(Tmax):
    
    """
    Função para visualizar o map of frontal probability e um histograma com as frontal probabilities
    """
    
    fp = frontal_prob(period=ond2014_2019, Tmax=Tmax)
    
    #fp=jas_data[Tmax]
    
    plt.rcParams["figure.figsize"] = 16, 12
    fig = plt.figure()
    ax1 = fig.add_subplot(2,2,1)
    img = ax1.imshow(fp) 
    plt.colorbar(img, orientation='horizontal', fraction=0.025, pad=0.08, aspect=50)
    plt.title("Map of frontal probability for certain period", fontsize=15)

    ax2 = fig.add_subplot(2,2,2)
    ax2.hist(fp.flatten(), bins=100);
    plt.xlabel('Frontal Probability',fontsize=10)
    plt.ylim([0, 2000]);

In [ ]:
#para guardar um csv com os dados para cada valor de Threshold

In [40]:
ond_data = []
for t in range(50, 250, 5):
    ond_data.append(frontal_prob(period=ond2014_2019, Tmax=t))

In [41]:
np.shape(ond_data)

(40, 121, 169)

In [42]:
arr_ond_data = np.array(ond_data)

In [43]:
arr_ond_data.tofile('ond.csv', sep = ',')

In [21]:
#Utilizar widgets (sliders) para ver diferentes visualizações conforme o threshold
import ipywidgets

fp = ipywidgets.interact(visualization, Tmax=(0, 39))

#Nos csv os threshold variam entre 50 e 250 em passo de 5 (ou seja há 40 valores possiveis). 
# 0 corresponde a um threshold maximo de 50; 39 corresponde a threshold max de 245

interactive(children=(IntSlider(value=19, description='Tmax', max=39), Output()), _dom_classes=('widget-intera…