Em vez de estar sempre a usar os thresholds de 90/180, usar um slider. Por exemplo quando o slider esta nos 45, ele vai fazer o processamento todo (o pipeline todo) para me dar a imagem que em vez de ser com thresholds de 90/180, seja com 45/90. 

Tenho que começar a agrupar isto por funções, de maneira a que qnd altero o 1º parametro, tem-se um input e esse input vai fazer com que a imagem do canny vá mudar e vamos correr o algoritmo para as imagens em questão

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import netCDF4 as nc
import cv2
import datetime
import xarray as xr
import os
plt.rcParams["figure.figsize"] = 10, 8
%matplotlib inline

### Importação dos dados de Atlantic-Iberian Biscay Irish- Ocean Physics Reanalysis

Importar o ficheiro netCDF da pasta data do repositório e depois converte-lo para o formato de dataframe

In [2]:
current_path = os.getcwd()
current_path

'/home/luisfigueiredo/JUNO/notebooks'

In [3]:
from pathlib import Path

data_folder = os.path.join(current_path,"../data")
data_folder

'/home/luisfigueiredo/JUNO/notebooks/../data'

In [4]:
nc_path = os.path.join(data_folder, "IBI2014-2019.nc")
ds = nc.Dataset(nc_path)
data = xr.load_dataset(nc_path)

In [5]:
print(ds)     # informações relativas ao ficheiro netCDF

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    Conventions: CF-1.0
    source: CMEMS IBI-MFC
    institution: Puertos del Estado (PdE) - Mercator-Ocean (MO)
    references: http://marine.copernicus.eu
    title: CMEMS IBI REANALYSIS: DAILY PHYSICAL PRODUCTS
    easting: longitude
    northing: latitude
    domain_name: IBI12
    FROM_ORIGINAL_FILE__field_type: mean
    field_date: 20191224
    FROM_ORIGINAL_FILE__longitude_min: -19.f
    FROM_ORIGINAL_FILE__longitude_max: 5.f
    FROM_ORIGINAL_FILE__latitude_min: 26.f
    FROM_ORIGINAL_FILE__latitude_max: 56.f
    z_min: 0.50576f
    z_max: 5698.061f
    contact: mailto: servicedesk.cmems@mercator-ocean.eu
    bulletin_date: 2020-12-01
    bulletin_type: Reanalysis
    _CoordSysBuilder: ucar.nc2.dataset.conv.CF1Convention
    comment:
    history: Data extracted from dataset http://localhost:8080/thredds/dodsC/cmems_mod_ibi_phy_my_0.083deg-3D_P1D-m
    dimensions(sizes): depth(1), latitude(121), time(2184), longitude(169)
    variables(dimensions): float32 depth(depth), float32 latitude(latitude), int16 thetao(time, depth, latitude, longitude), int64 time(time), float32 longitude(longitude)
    groups:

In [6]:
#Converter o ficheiro netCDF para uma dataframe
datadf = data.to_dataframe()
df2014_2019 = datadf.reset_index()

In [7]:
df2014_2019 = df2014_2019.drop(['depth'], axis=1)     #dropar coluna 'depth' (não é necessária pq é sempre igual)
df2014_2019   #os dados .nc estão agora no formato de uma dataframe

          latitude  longitude                time     thetao
0             35.0      -19.0 2014-01-01 12:00:00  18.316000
1             35.0      -19.0 2014-01-02 12:00:00  18.309000
2             35.0      -19.0 2014-01-03 12:00:00  18.316000
3             35.0      -19.0 2014-01-04 12:00:00  18.273001
4             35.0      -19.0 2014-01-05 12:00:00  18.230000
...            ...        ...                 ...        ...
44660611      45.0       -5.0 2019-12-20 12:00:00  13.619000
44660612      45.0       -5.0 2019-12-21 12:00:00  13.559000
44660613      45.0       -5.0 2019-12-22 12:00:00  13.458000
44660614      45.0       -5.0 2019-12-23 12:00:00  13.400000
44660615      45.0       -5.0 2019-12-24 12:00:00  13.390000

[44660616 rows x 4 columns]

In [8]:
df2014_2019 = df2014_2019[['time', 'latitude', 'longitude', 'thetao']]    #reorganizar as colunas da dataframe
df2014_2019

                        time  latitude  longitude     thetao
0        2014-01-01 12:00:00      35.0      -19.0  18.316000
1        2014-01-02 12:00:00      35.0      -19.0  18.309000
2        2014-01-03 12:00:00      35.0      -19.0  18.316000
3        2014-01-04 12:00:00      35.0      -19.0  18.273001
4        2014-01-05 12:00:00      35.0      -19.0  18.230000
...                      ...       ...        ...        ...
44660611 2019-12-20 12:00:00      45.0       -5.0  13.619000
44660612 2019-12-21 12:00:00      45.0       -5.0  13.559000
44660613 2019-12-22 12:00:00      45.0       -5.0  13.458000
44660614 2019-12-23 12:00:00      45.0       -5.0  13.400000
44660615 2019-12-24 12:00:00      45.0       -5.0  13.390000

[44660616 rows x 4 columns]

In [12]:
# Guardar esta df no nosso repositorio nao e grande ideia porque ocupa 2,5GB

In [13]:
df2014_2019.loc[df2014_2019['time'] == '2014-01-01 12:00:00']

                        time  latitude  longitude     thetao
0        2014-01-01 12:00:00      35.0 -19.000000  18.316000
2184     2014-01-01 12:00:00      35.0 -18.916666  18.527000
4368     2014-01-01 12:00:00      35.0 -18.833334  18.531000
6552     2014-01-01 12:00:00      35.0 -18.750000  18.469002
8736     2014-01-01 12:00:00      35.0 -18.666666  18.429001
...                      ...       ...        ...        ...
44649696 2014-01-01 12:00:00      45.0  -5.333334  13.181000
44651880 2014-01-01 12:00:00      45.0  -5.250000  13.262000
44654064 2014-01-01 12:00:00      45.0  -5.166667  13.332001
44656248 2014-01-01 12:00:00      45.0  -5.083334  13.362000
44658432 2014-01-01 12:00:00      45.0  -5.000000  13.313000

[20449 rows x 4 columns]

### Gerar array com os dias para os quais quero depois aplicar o canny

É criado o dicionário days que tem muitas dataframes e depois dá para aceder a estas df individualmente com os valores do array que são extraidos através do specific day

In [14]:
dataf2014_2019 = df2014_2019.copy()

In [15]:
specificday = [pd.Timestamp(dd).strftime("%Y-%m-%d %H:%M:%S") for dd in dataf2014_2019['time'].unique()]

In [16]:
specificday = np.array(specificday, dtype=np.object)

In [17]:
specificday

array(['2014-01-01 12:00:00', '2014-01-02 12:00:00',
       '2014-01-03 12:00:00', ..., '2019-12-22 12:00:00',
       '2019-12-23 12:00:00', '2019-12-24 12:00:00'], dtype=object)

In [18]:
#create a dictionary to store the data frames for each day
days = {elem : pd.DataFrame for elem in specificday}

for key in days.keys():    #keys são os dias do dicionário de dataframes days
    days[key] = dataf2014_2019[:][dataf2014_2019['time'] == key]

In [16]:
ond2014_2019 = specificday[(specificday>='2014-10-01 12:00:00') & (specificday <= '2014-12-31 12:00:00') + (specificday>='2015-10-01 12:00:00') & (specificday <= '2015-12-31 12:00:00')+(specificday>='2016-10-01 12:00:00') & (specificday <= '2016-12-31 12:00:00')+(specificday>='2017-10-01 12:00:00') & (specificday <= '2017-12-31 12:00:00')+(specificday>='2018-10-01 12:00:00') & (specificday <= '2018-12-31 12:00:00')+(specificday>='2019-10-01 12:00:00') & (specificday <= '2019-12-31 12:00:00')]
ond2014_2019

NameError: name 'specificday' is not defined

### Definir funções para todo o pipeline

In [9]:
def get_data(df):
    
    """
    Função que pega na df completa e a transforma num dicionário de dataframes de forma a que se consiga ir 
    buscar a dataframe relativa a um dia específico
    """
    
    specificday = [pd.Timestamp(dd).strftime("%Y-%m-%d %H:%M:%S") for dd in df['time'].unique()]
    specificday = np.array(specificday, dtype=np.object)
  
    #create a dictionary to store the data frames for each day
    days = {elem : pd.DataFrame for elem in specificday}

    for key in days.keys():
        days[key] = df[:][df['time'] == key]
        
    return days, specificday

In [10]:
days, specificday = get_data(df2014_2019)

In [12]:
days

{'2014-01-01 12:00:00':                         time  latitude  longitude     thetao
 0        2014-01-01 12:00:00      35.0 -19.000000  18.316000
 2184     2014-01-01 12:00:00      35.0 -18.916666  18.527000
 4368     2014-01-01 12:00:00      35.0 -18.833334  18.531000
 6552     2014-01-01 12:00:00      35.0 -18.750000  18.469002
 8736     2014-01-01 12:00:00      35.0 -18.666666  18.429001
 ...                      ...       ...        ...        ...
 44649696 2014-01-01 12:00:00      45.0  -5.333334  13.181000
 44651880 2014-01-01 12:00:00      45.0  -5.250000  13.262000
 44654064 2014-01-01 12:00:00      45.0  -5.166667  13.332001
 44656248 2014-01-01 12:00:00      45.0  -5.083334  13.362000
 44658432 2014-01-01 12:00:00      45.0  -5.000000  13.313000

 [20449 rows x 4 columns],
 '2014-01-02 12:00:00':                         time  latitude  longitude     thetao
 1        2014-01-02 12:00:00      35.0 -19.000000  18.309000
 2185     2014-01-02 12:00:00      35.0 -18.916666  18.496000
 4369     2014-01-02 12:00:00      35.0 -18.833334  18.473000
 6553     2014-01-02 12:00:00      35.0 -18.750000  18.402000
 8737     2014-01-02 12:00:00      35.0 -18.666666  18.368999
 ...                      ...       ...        ...        ...
 44649697 2014-01-02 12:00:00      45.0  -5.333334  13.165000
 44651881 2014-01-02 12:00:00      45.0  -5.250000  13.238000
 44654065 2014-01-02 12:00:00      45.0  -5.166667  13.327000
 44656249 2014-01-02 12:00:00      45.0  -5.083334  13.378000
 44658433 2014-01-02 12:00:00      45.0  -5.000000  13.337000

 [20449 rows x 4 columns],
 '2014-01-03 12:00:00':                         time  latitude  longitude     thetao
 2        2014-01-03 12:00:00      35.0 -19.000000  18.316000
 2186     2014-01-03 12:00:00      35.0 -18.916666  18.441000
 4370     2014-01-03 12:00:00      35.0 -18.833334  18.395000
 6554     2014-01-03 12:00:00      35.0 -18.750000  18.316000
 8738     2014-01-03 12:00:00      35.0 -18.666666  18.250999
 ...                      ...       ...        ...        ...
 44649698 2014-01-03 12:00:00      45.0  -5.333334  13.193000
 44651882 2014-01-03 12:00:00      45.0  -5.250000  13.221001
 44654066 2014-01-03 12:00:00      45.0  -5.166667  13.304000
 44656250 2014-01-03 12:00:00      45.0  -5.083334  13.380000
 44658434 2014-01-03 12:00:00      45.0  -5.000000  13.368000

 [20449 rows x 4 columns],
 '2014-01-04 12:00:00':                         time  latitude  longitude     thetao
 3        2014-01-04 12:00:00      35.0 -19.000000  18.273001
 2187     2014-01-04 12:00:00      35.0 -18.916666  18.379002
 4371     2014-01-04 12:00:00      35.0 -18.833334  18.316000
 6555     2014-01-04 12:00:00      35.0 -18.750000  18.215000
 8739     2014-01-04 12:00:00      35.0 -18.666666  18.082001
 ...                      ...       ...        ...        ...
 44649699 2014-01-04 12:00:00      45.0  -5.333334  13.249001
 44651883 2014-01-04 12:00:00      45.0  -5.250000  13.219000
 44654067 2014-01-04 12:00:00      45.0  -5.166667  13.264000
 44656251 2014-01-04 12:00:00      45.0  -5.083334  13.345000
 44658435 2014-01-04 12:00:00      45.0  -5.000000  13.363000

 [20449 rows x 4 columns],
 '2014-01-05 12:00:00':                         time  latitude  longitude     thetao
 4        2014-01-05 12:00:00      35.0 -19.000000  18.230000
 2188     2014-01-05 12:00:00      35.0 -18.916666  18.309000
 4372     2014-01-05 12:00:00      35.0 -18.833334  18.234001
 6556     2014-01-05 12:00:00      35.0 -18.750000  18.121000
 8740     2014-01-05 12:00:00      35.0 -18.666666  17.939001
 ...                      ...       ...        ...        ...
 44649700 2014-01-05 12:00:00      45.0  -5.333334  13.353001
 44651884 2014-01-05 12:00:00      45.0  -5.250000  13.277000
 44654068 2014-01-05 12:00:00      45.0  -5.166667  13.261000
 44656252 2014-01-05 12:00:00      45.0  -5.083334  13.312000
 44658436 2014-01-05 12:00:00      45.0  -5.000000  13.345000

 [20449 rows x 4 columns],
 '2014-01-06 12:00:00':                         time  latitude  longitude     thetao
 5        2014-01-06 12:00:00      35.0 -19.000000  18.129002
 2189     2014-01-06 12:00:00      35.0 -18.916666  18.211000
 4373     2014-01-06 12:00:00      35.0 -18.833334  18.141001
 6557     2014-01-06 12:00:00      35.0 -18.750000  18.039001
 8741     2014-01-06 12:00:00      35.0 -18.666666  17.795000
 ...                      ...       ...        ...        ...
 44649701 2014-01-06 12:00:00      45.0  -5.333334  13.399000
 44651885 2014-01-06 12:00:00      45.0  -5.250000  13.344000
 44654069 2014-01-06 12:00:00      45.0  -5.166667  13.282000
 44656253 2014-01-06 12:00:00      45.0  -5.083334  13.299000
 44658437 2014-01-06 12:00:00      45.0  -5.000000  13.347000

 [20449 rows x 4 columns],
 '2014-01-07 12:00:00':                         time  latitude  longitude     thetao
 6        2014-01-07 12:00:00      35.0 -19.000000  17.984001
 2190     2014-01-07 12:00:00      35.0 -18.916666  18.090000
 4374     2014-01-07 12:00:00      35.0 -18.833334  18.042999
 6558     2014-01-07 12:00:00      35.0 -18.750000  17.917999
 8742     2014-01-07 12:00:00      35.0 -18.666666  17.681999
 ...                      ...       ...        ...        ...
 44649702 2014-01-07 12:00:00      45.0  -5.333334  13.357000
 44651886 2014-01-07 12:00:00      45.0  -5.250000  13.354000
 44654070 2014-01-07 12:00:00      45.0  -5.166667  13.282000
 44656254 2014-01-07 12:00:00      45.0  -5.083334  13.272000
 44658438 2014-01-07 12:00:00      45.0  -5.000000  13.326000

 [20449 rows x 4 columns],
 '2014-01-08 12:00:00':                         time  latitude  longitude     thetao
 7        2014-01-08 12:00:00      35.0 -19.000000  17.730000
 2191     2014-01-08 12:00:00      35.0 -18.916666  17.941000
 4375     2014-01-08 12:00:00      35.0 -18.833334  17.922001
 6559     2014-01-08 12:00:00      35.0 -18.750000  17.777000
 8743     2014-01-08 12:00:00      35.0 -18.666666  17.612000
 ...                      ...       ...        ...        ...
 44649703 2014-01-08 12:00:00      45.0  -5.333334  13.315001
 44651887 2014-01-08 12:00:00      45.0  -5.250000  13.337000
 44654071 2014-01-08 12:00:00      45.0  -5.166667  13.270000
 44656255 2014-01-08 12:00:00      45.0  -5.083334  13.237000
 44658439 2014-01-08 12:00:00      45.0  -5.000000  13.300000

 [20449 rows x 4 columns],
 '2014-01-09 12:00:00':                         time  latitude  longitude     thetao
 8        2014-01-09 12:00:00      35.0 -19.000000  17.488001
 2192     2014-01-09 12:00:00      35.0 -18.916666  17.757999
 4376     2014-01-09 12:00:00      35.0 -18.833334  17.750000
 6560     2014-01-09 12:00:00      35.0 -18.750000  17.598000
 8744     2014-01-09 12:00:00      35.0 -18.666666  17.574001
 ...                      ...       ...        ...        ...
 44649704 2014-01-09 12:00:00      45.0  -5.333334  13.258000
 44651888 2014-01-09 12:00:00      45.0  -5.250000  13.296000
 44654072 2014-01-09 12:00:00      45.0  -5.166667  13.241000
 44656256 2014-01-09 12:00:00      45.0  -5.083334  13.204000
 44658440 2014-01-09 12:00:00      45.0  -5.000000  13.268000

 [20449 rows x 4 columns],
 '2014-01-10 12:00:00':                         time  latitude  longitude     thetao
 9        2014-01-10 12:00:00      35.0 -19.000000  17.164001
 2193     2014-01-10 12:00:00      35.0 -18.916666  17.500000
 4377     2014-01-10 12:00:00      35.0 -18.833334  17.590000
 6561     2014-01-10 12:00:00      35.0 -18.750000  17.438000
 8745     2014-01-10 12:00:00      35.0 -18.666666  17.521999
 ...                      ...       ...        ...        ...
 44649705 2014-01-10 12:00:00      45.0  -5.333334  13.215000
 44651889 2014-01-10 12:00:00      45.0  -5.250000  13.272000
 44654073 2014-01-10 12:00:00      45.0  -5.166667  13.232000
 44656257 2014-01-10 12:00:00      45.0  -5.083334  13.184000
 44658441 2014-01-10 12:00:00      45.0  -5.000000  13.239000

 [20449 rows x 4 columns],
 '2014-01-11 12:00:00':                         time  latitude  longitude     thetao
 10       2014-01-11 12:00:00      35.0 -19.000000  17.082001
 2194     2014-01-11 12:00:00      35.0 -18.916666  17.167999
 4378     2014-01-11 12:00:00      35.0 -18.833334  17.402000
 6562     2014-01-11 12:00:00      35.0 -18.750000  17.352001
 8746     2014-01-11 12:00:00      35.0 -18.666666  17.392000
 ...                      ...       ...        ...        ...
 44649706 2014-01-11 12:00:00      45.0  -5.333334  13.159000
 44651890 2014-01-11 12:00:00      45.0  -5.250000  13.231000
 44654074 2014-01-11 12:00:00      45.0  -5.166667  13.205000
 44656258 2014-01-11 12:00:00      45.0  -5.083334  13.163000
 44658442 2014-01-11 12:00:00      45.0  -5.000000  13.206000

 [20449 rows x 4 columns],
 '2014-01-12 12:00:00':                         time  latitude  longitude     thetao
 11       2014-01-12 12:00:00      35.0 -19.000000  17.273001
 2195     2014-01-12 12:00:00      35.0 -18.916666  17.082001
 4379     2014-01-12 12:00:00      35.0 -18.833334  17.180000
 6563     2014-01-12 12:00:00      35.0 -18.750000  17.281000
 8747     2014-01-12 12:00:00      35.0 -18.666666  17.306999
 ...                      ...       ...        ...        ...
 44649707 2014-01-12 12:00:00      45.0  -5.333334  13.082001
 44651891 2014-01-12 12:00:00      45.0  -5.250000  13.173000
 44654075 2014-01-12 12:00:00      45.0  -5.166667  13.191000
 44656259 2014-01-12 12:00:00      45.0  -5.083334  13.198000
 44658443 2014-01-12 12:00:00      45.0  -5.000000  13.271000

 [20449 rows x 4 columns],
 '2014-01-13 12:00:00':                         time  latitude  longitude     thetao
 12       2014-01-13 12:00:00      35.0 -19.000000  17.328001
 2196     2014-01-13 12:00:00      35.0 -18.916666  17.152000
 4380     2014-01-13 12:00:00      35.0 -18.833334  17.109001
 6564     2014-01-13 12:00:00      35.0 -18.750000  17.184000
 8748     2014-01-13 12:00:00      35.0 -18.666666  17.180000
 ...                      ...       ...        ...        ...
 44649708 2014-01-13 12:00:00      45.0  -5.333334  12.961000
 44651892 2014-01-13 12:00:00      45.0  -5.250000  13.100000
 44654076 2014-01-13 12:00:00      45.0  -5.166667  13.187000
 44656260 2014-01-13 12:00:00      45.0  -5.083334  13.236000
 44658444 2014-01-13 12:00:00      45.0  -5.000000  13.296000

 [20449 rows x 4 columns],
 '2014-01-14 12:00:00':                         time  latitude  longitude     thetao
 13       2014-01-14 12:00:00      35.0 -19.000000  17.324001
 2197     2014-01-14 12:00:00      35.0 -18.916666  17.223000
 4381     2014-01-14 12:00:00      35.0 -18.833334  17.132999
 6565     2014-01-14 12:00:00      35.0 -18.750000  17.152000
 8749     2014-01-14 12:00:00      35.0 -18.666666  17.102001
 ...                      ...       ...        ...        ...
 44649709 2014-01-14 12:00:00      45.0  -5.333334  12.855000
 44651893 2014-01-14 12:00:00      45.0  -5.250000  12.981000
 44654077 2014-01-14 12:00:00      45.0  -5.166667  13.134000
 44656261 2014-01-14 12:00:00      45.0  -5.083334  13.231000
 44658445 2014-01-14 12:00:00      45.0  -5.000000  13.292000

 [20449 rows x 4 columns],
 '2014-01-15 12:00:00':                         time  latitude  longitude     thetao
 14       2014-01-15 12:00:00      35.0 -19.000000  17.223000
 2198     2014-01-15 12:00:00      35.0 -18.916666  17.211000
 4382     2014-01-15 12:00:00      35.0 -18.833334  17.156000
 6566     2014-01-15 12:00:00      35.0 -18.750000  17.167999
 8750     2014-01-15 12:00:00      35.0 -18.666666  17.112000
 ...                      ...       ...        ...        ...
 44649710 2014-01-15 12:00:00      45.0  -5.333334  12.798000
 44651894 2014-01-15 12:00:00      45.0  -5.250000  12.876000
 44654078 2014-01-15 12:00:00      45.0  -5.166667  13.029000
 44656262 2014-01-15 12:00:00      45.0  -5.083334  13.179000
 44658446 2014-01-15 12:00:00      45.0  -5.000000  13.275000

 [20449 rows x 4 columns],
 '2014-01-16 12:00:00':                         time  latitude  longitude     thetao
 15       2014-01-16 12:00:00      35.0 -19.000000  17.000000
 2199     2014-01-16 12:00:00      35.0 -18.916666  17.074001
 4383     2014-01-16 12:00:00      35.0 -18.833334  17.117001
 6567     2014-01-16 12:00:00      35.0 -18.750000  17.188000
 8751     2014-01-16 12:00:00      35.0 -18.666666  17.215000
 ...                      ...       ...        ...        ...
 44649711 2014-01-16 12:00:00      45.0  -5.333334  12.757000
 44651895 2014-01-16 12:00:00      45.0  -5.250000  12.770000
 44654079 2014-01-16 12:00:00      45.0  -5.166667  12.858000
 44656263 2014-01-16 12:00:00      45.0  -5.083334  13.017000
 44658447 2014-01-16 12:00:00      45.0  -5.000000  13.173000

 [20449 rows x 4 columns],
 '2014-01-17 12:00:00':                         time  latitude  longitude     thetao
 16       2014-01-17 12:00:00      35.0 -19.000000  16.789001
 2200     2014-01-17 12:00:00      35.0 -18.916666  16.902000
 4384     2014-01-17 12:00:00      35.0 -18.833334  17.023001
 6568     2014-01-17 12:00:00      35.0 -18.750000  17.148001
 8752     2014-01-17 12:00:00      35.0 -18.666666  17.289001
 ...                      ...       ...        ...        ...
 44649712 2014-01-17 12:00:00      45.0  -5.333334  12.742001
 44651896 2014-01-17 12:00:00      45.0  -5.250000  12.720000
 44654080 2014-01-17 12:00:00      45.0  -5.166667  12.743000
 44656264 2014-01-17 12:00:00      45.0  -5.083334  12.858000
 44658448 2014-01-17 12:00:00      45.0  -5.000000  13.032000

 [20449 rows x 4 columns],
 '2014-01-18 12:00:00':                         time  latitude  longitude     thetao
 17       2014-01-18 12:00:00      35.0 -19.000000  16.652000
 2201     2014-01-18 12:00:00      35.0 -18.916666  16.792999
 4385     2014-01-18 12:00:00      35.0 -18.833334  16.949001
 6569     2014-01-18 12:00:00      35.0 -18.750000  17.109001
 8753     2014-01-18 12:00:00      35.0 -18.666666  17.280001
 ...                      ...       ...        ...        ...
 44649713 2014-01-18 12:00:00      45.0  -5.333334  12.748000
 44651897 2014-01-18 12:00:00      45.0  -5.250000  12.704000
 44654081 2014-01-18 12:00:00      45.0  -5.166667  12.696000
 44656265 2014-01-18 12:00:00      45.0  -5.083334  12.763000
 44658449 2014-01-18 12:00:00      45.0  -5.000000  12.916000

 [20449 rows x 4 columns],
 '2014-01-19 12:00:00':                         time  latitude  longitude     thetao
 18       2014-01-19 12:00:00      35.0 -19.000000  16.570000
 2202     2014-01-19 12:00:00      35.0 -18.916666  16.742001
 4386     2014-01-19 12:00:00      35.0 -18.833334  16.926001
 6570     2014-01-19 12:00:00      35.0 -18.750000  17.094000
 8754     2014-01-19 12:00:00      35.0 -18.666666  17.236000
 ...                      ...       ...        ...        ...
 44649714 2014-01-19 12:00:00      45.0  -5.333334  12.758000
 44651898 2014-01-19 12:00:00      45.0  -5.250000  12.700000
 44654082 2014-01-19 12:00:00      45.0  -5.166667  12.674000
 44656266 2014-01-19 12:00:00      45.0  -5.083334  12.706000
 44658450 2014-01-19 12:00:00      45.0  -5.000000  12.822001

 [20449 rows x 4 columns],
 '2014-01-20 12:00:00':                         time  latitude  longitude     thetao
 19       2014-01-20 12:00:00      35.0 -19.000000  16.578001
 2203     2014-01-20 12:00:00      35.0 -18.916666  16.805000
 4387     2014-01-20 12:00:00      35.0 -18.833334  17.020000
 6571     2014-01-20 12:00:00      35.0 -18.750000  17.199001
 8755     2014-01-20 12:00:00      35.0 -18.666666  17.325001
 ...                      ...       ...        ...        ...
 44649715 2014-01-20 12:00:00      45.0  -5.333334  12.772000
 44651899 2014-01-20 12:00:00      45.0  -5.250000  12.701000
 44654083 2014-01-20 12:00:00      45.0  -5.166667  12.661000
 44656267 2014-01-20 12:00:00      45.0  -5.083334  12.671000
 44658451 2014-01-20 12:00:00      45.0  -5.000000  12.752000

 [20449 rows x 4 columns],
 '2014-01-21 12:00:00':                         time  latitude  longitude     thetao
 20       2014-01-21 12:00:00      35.0 -19.000000  16.762001
 2204     2014-01-21 12:00:00      35.0 -18.916666  17.023001
 4388     2014-01-21 12:00:00      35.0 -18.833334  17.257999
 6572     2014-01-21 12:00:00      35.0 -18.750000  17.453001
 8756     2014-01-21 12:00:00      35.0 -18.666666  17.592001
 ...                      ...       ...        ...        ...
 44649716 2014-01-21 12:00:00      45.0  -5.333334  12.810000
 44651900 2014-01-21 12:00:00      45.0  -5.250000  12.726000
 44654084 2014-01-21 12:00:00      45.0  -5.166667  12.662001
 44656268 2014-01-21 12:00:00      45.0  -5.083334  12.647000
 44658452 2014-01-21 12:00:00      45.0  -5.000000  12.696000

 [20449 rows x 4 columns],
 '2014-01-22 12:00:00':                         time  latitude  longitude     thetao
 21       2014-01-22 12:00:00      35.0 -19.000000  16.875000
 2205     2014-01-22 12:00:00      35.0 -18.916666  17.082001
 4389     2014-01-22 12:00:00      35.0 -18.833334  17.301001
 6573     2014-01-22 12:00:00      35.0 -18.750000  17.539001
 8757     2014-01-22 12:00:00      35.0 -18.666666  17.747000
 ...                      ...       ...        ...        ...
 44649717 2014-01-22 12:00:00      45.0  -5.333334  12.848000
 44651901 2014-01-22 12:00:00      45.0  -5.250000  12.762000
 44654085 2014-01-22 12:00:00      45.0  -5.166667  12.682000
 44656269 2014-01-22 12:00:00      45.0  -5.083334  12.641000
 44658453 2014-01-22 12:00:00      45.0  -5.000000  12.656000

 [20449 rows x 4 columns],
 '2014-01-23 12:00:00':                         time  latitude  longitude     thetao
 22       2014-01-23 12:00:00      35.0 -19.000000  16.672001
 2206     2014-01-23 12:00:00      35.0 -18.916666  16.859001
 4390     2014-01-23 12:00:00      35.0 -18.833334  17.090000
 6574     2014-01-23 12:00:00      35.0 -18.750000  17.359001
 8758     2014-01-23 12:00:00      35.0 -18.666666  17.645000
 ...                      ...       ...        ...        ...
 44649718 2014-01-23 12:00:00      45.0  -5.333334  12.858000
 44651902 2014-01-23 12:00:00      45.0  -5.250000  12.781000
 44654086 2014-01-23 12:00:00      45.0  -5.166667  12.694000
 44656270 2014-01-23 12:00:00      45.0  -5.083334  12.637000
 44658454 2014-01-23 12:00:00      45.0  -5.000000  12.633000

 [20449 rows x 4 columns],
 '2014-01-24 12:00:00':                         time  latitude  longitude     thetao
 23       2014-01-24 12:00:00      35.0 -19.000000  16.496000
 2207     2014-01-24 12:00:00      35.0 -18.916666  16.684000
 4391     2014-01-24 12:00:00      35.0 -18.833334  16.898001
 6575     2014-01-24 12:00:00      35.0 -18.750000  17.137001
 8759     2014-01-24 12:00:00      35.0 -18.666666  17.420000
 ...                      ...       ...        ...        ...
 44649719 2014-01-24 12:00:00      45.0  -5.333334  12.857000
 44651903 2014-01-24 12:00:00      45.0  -5.250000  12.804000
 44654087 2014-01-24 12:00:00      45.0  -5.166667  12.728001
 44656271 2014-01-24 12:00:00      45.0  -5.083334  12.661000
 44658455 2014-01-24 12:00:00      45.0  -5.000000  12.634000

 [20449 rows x 4 columns],
 '2014-01-25 12:00:00':                         time  latitude  longitude     thetao
 24       2014-01-25 12:00:00      35.0 -19.000000  16.391001
 2208     2014-01-25 12:00:00      35.0 -18.916666  16.547001
 4392     2014-01-25 12:00:00      35.0 -18.833334  16.777000
 6576     2014-01-25 12:00:00      35.0 -18.750000  17.035000
 8760     2014-01-25 12:00:00      35.0 -18.666666  17.290001
 ...                      ...       ...        ...        ...
 44649720 2014-01-25 12:00:00      45.0  -5.333334  12.816000
 44651904 2014-01-25 12:00:00      45.0  -5.250000  12.788000
 44654088 2014-01-25 12:00:00      45.0  -5.166667  12.740000
 44656272 2014-01-25 12:00:00      45.0  -5.083334  12.682000
 44658456 2014-01-25 12:00:00      45.0  -5.000000  12.647000

 [20449 rows x 4 columns],
 '2014-01-26 12:00:00':                         time  latitude  longitude     thetao

In [11]:
specificday

array(['2014-01-01 12:00:00', '2014-01-02 12:00:00',
       '2014-01-03 12:00:00', ..., '2019-12-22 12:00:00',
       '2019-12-23 12:00:00', '2019-12-24 12:00:00'], dtype=object)

In [18]:
def canny_creation(days, Tmax):
    
    """
    Função que pega numa df com temperaturas relativas a um certo dia e retorna a matriz obtida após 
    aplicação do Canny com a mask para a zona continental
    """
    
    #Pegar na df dum dia e converte-la num np array com os valores de Temperatura para os valores de long e lati
    Temp = days.pivot_table(index='longitude', columns='latitude', values='thetao').T.values
    
    #Converter os valores de temperatura no formato uint8 com valores entre 0-255
    Temp_day = ((Temp - np.nanmin(Temp)) * (1/(np.nanmax(Temp) - np.nanmin(Temp)) * 255)).astype('uint8')

    Temp_day = np.flipud(Temp_day)   #flipud -> Reverse the order of elements along axis 0 (up/down).
    
    #apply the canny algorithm and plot the image with the edges
    canny = cv2.Canny(Temp_day, Tmax/2, Tmax, L2gradient=False, apertureSize=3)
    
    mask = np.isnan(np.flipud(Temp))    #Boolean array é True onde o array original (Temp) tinha valores Nan
    mask255 =np.where(mask,(np.ones(mask.shape))*255,0).astype("uint8")   #array cujos pixels= 255 quando mask=True
    #Fazer uma dilatação para assegurar que os pixeis que pertencem à costa não são considerados como frentes no canny
    kernel = np.ones((3,3), np.uint8)
    mask_dilated = cv2.dilate(mask255, kernel)
    canny =np.ma.masked_where(mask_dilated==255, canny)
    
    return canny

In [19]:
def frontal_prob(period, Tmax):
    """
    Função que retorna um array de shape (121, 169) com a frontal probability de cada pixel
    """
    fp = np.zeros((121,169))
    for day in period:
        fp = fp + canny_creation(days[day], Tmax)
    fp = fp/(len(period)*255)*100
    
    return fp

In [20]:
def visualization(Tmax):
    
    """
    Função para visualizar o map of frontal probability e um histograma com as frontal probabilities
    """
    
    fp = frontal_prob(period=ond2014_2019, Tmax=Tmax)
    
    #fp=jas_data[Tmax]
    
    plt.rcParams["figure.figsize"] = 16, 12
    fig = plt.figure()
    ax1 = fig.add_subplot(2,2,1)
    img = ax1.imshow(fp) 
    plt.colorbar(img, orientation='horizontal', fraction=0.025, pad=0.08, aspect=50)
    plt.title("Map of frontal probability for certain period", fontsize=15)

    ax2 = fig.add_subplot(2,2,2)
    ax2.hist(fp.flatten(), bins=100);
    plt.xlabel('Frontal Probability',fontsize=10)
    plt.ylim([0, 2000]);

In [ ]:
#para guardar um csv com os dados para cada valor de Threshold

In [40]:
ond_data = []
for t in range(50, 250, 5):
    ond_data.append(frontal_prob(period=ond2014_2019, Tmax=t))

In [41]:
np.shape(ond_data)

(40, 121, 169)

In [42]:
arr_ond_data = np.array(ond_data)

In [43]:
arr_ond_data.tofile('ond.csv', sep = ',')

In [21]:
#Utilizar widgets (sliders) para ver diferentes visualizações conforme o threshold
import ipywidgets

fp = ipywidgets.interact(visualization, Tmax=(0, 39))

#Nos csv os threshold variam entre 50 e 250 em passo de 5 (ou seja há 40 valores possiveis). 
# 0 corresponde a um threshold maximo de 50; 39 corresponde a threshold max de 245

interactive(children=(IntSlider(value=19, description='Tmax', max=39), Output()), _dom_classes=('widget-intera…