In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import netCDF4 as nc
import cv2
import datetime
import xarray as xr
import os

%matplotlib inline

In [2]:
current_path = os.getcwd()
current_path

'/home/luisfigueiredo/JUNO/notebooks'

In [3]:
from pathlib import Path

data_folder = os.path.join(current_path,"../data")
data_folder

'/home/luisfigueiredo/JUNO/notebooks/../data'

In [4]:
nc_path = os.path.join(data_folder, "IBI2014-2019.nc")
ds = nc.Dataset(nc_path)
data = xr.load_dataset(nc_path)

In [5]:
print(ds)     # informações relativas ao ficheiro netCDF

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    Conventions: CF-1.0
    source: CMEMS IBI-MFC
    institution: Puertos del Estado (PdE) - Mercator-Ocean (MO)
    references: http://marine.copernicus.eu
    title: CMEMS IBI REANALYSIS: DAILY PHYSICAL PRODUCTS
    easting: longitude
    northing: latitude
    domain_name: IBI12
    FROM_ORIGINAL_FILE__field_type: mean
    field_date: 20191224
    FROM_ORIGINAL_FILE__longitude_min: -19.f
    FROM_ORIGINAL_FILE__longitude_max: 5.f
    FROM_ORIGINAL_FILE__latitude_min: 26.f
    FROM_ORIGINAL_FILE__latitude_max: 56.f
    z_min: 0.50576f
    z_max: 5698.061f
    contact: mailto: servicedesk.cmems@mercator-ocean.eu
    bulletin_date: 2020-12-01
    bulletin_type: Reanalysis
    _CoordSysBuilder: ucar.nc2.dataset.conv.CF1Convention
    comment:
    history: Data extracted from dataset http://localhost:8080/thredds/dodsC/cmems_mod_ibi_phy_my_0.083deg-3D_P1D-m
    dimensions(sizes): depth(1), latitude(121), time(2184), longitude(169)
    variables(dimensions): float32 depth(depth), float32 latitude(latitude), int16 thetao(time, depth, latitude, longitude), int64 time(time), float32 longitude(longitude)
    groups:

In [6]:
#Converter o ficheiro netCDF para uma dataframe
datadf = data.to_dataframe()
datadf2 = datadf.reset_index()

In [7]:
datadf2 = datadf2.drop(['depth'], axis=1)     #dropar coluna 'depth' (não é necessária pq é sempre igual)
datadf2    #os dados .nc estão agora no formato de uma dataframe

          latitude  longitude                time     thetao
0             35.0      -19.0 2014-01-01 12:00:00  18.316000
1             35.0      -19.0 2014-01-02 12:00:00  18.309000
2             35.0      -19.0 2014-01-03 12:00:00  18.316000
3             35.0      -19.0 2014-01-04 12:00:00  18.273001
4             35.0      -19.0 2014-01-05 12:00:00  18.230000
...            ...        ...                 ...        ...
44660611      45.0       -5.0 2019-12-20 12:00:00  13.619000
44660612      45.0       -5.0 2019-12-21 12:00:00  13.559000
44660613      45.0       -5.0 2019-12-22 12:00:00  13.458000
44660614      45.0       -5.0 2019-12-23 12:00:00  13.400000
44660615      45.0       -5.0 2019-12-24 12:00:00  13.390000

[44660616 rows x 4 columns]

In [10]:
setember_10 = datadf2[datadf2['time'] == '2019-09-10 12:00:00']

In [11]:
setember_10

          latitude  longitude                time     thetao
2078          35.0 -19.000000 2019-09-10 12:00:00  22.594002
4262          35.0 -18.916666 2019-09-10 12:00:00  22.516001
6446          35.0 -18.833334 2019-09-10 12:00:00  22.590000
8630          35.0 -18.750000 2019-09-10 12:00:00  22.754002
10814         35.0 -18.666666 2019-09-10 12:00:00  22.827000
...            ...        ...                 ...        ...
44651774      45.0  -5.333334 2019-09-10 12:00:00  19.509001
44653958      45.0  -5.250000 2019-09-10 12:00:00  19.473000
44656142      45.0  -5.166667 2019-09-10 12:00:00  19.441000
44658326      45.0  -5.083334 2019-09-10 12:00:00  19.421001
44660510      45.0  -5.000000 2019-09-10 12:00:00  19.421001

[20449 rows x 4 columns]

In [14]:
lat = setember_10['latitude'].unique()
lon = setember_10['longitude'].unique()

In [19]:
ingrid = np.array(setember_10['thetao']).reshape(len(lat), len(lon))

In [21]:
ingrid.shape

(121, 169)

In [32]:
from numpy import savetxt
savetxt('lat.csv', lat, delimiter=',')